<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route ws-ignore-action asp-controller="Catalog" asp-action="Index">Products</a></li>
                @*<li><a asp-controller="Catalog" asp-action="ProductDetails">Product Details</a></li>*@
                <li><a asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                @*<li><a asp-controller="Cart" asp-action="Index">Cart</a></li>*@

                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route ws-ignore-action asp-controller="Home" asp-action="Blog">Blog List</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="BlogSingle">Blog Single</a></li>
            </ul>
        </li>
        <li><a ws-is-active-route asp-controller="Home" asp-action="NotFound404">404</a></li>
        <li><a ws-is-active-route asp-controller="Home" asp-action="ContactUs">Contact</a></li>       
        <li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Our Team</a></li>
        <li class="dropdown">
                <a href="#">Test<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="WebAPI" asp-action="Index" class="@IsActive("WebAPI")">WebAPI</a></li>
                <li><a ws-is-active-route asp-controller="AjaxTest" asp-action="Index">AJAX</a></li>
                <li><a ws-is-active-route asp-controller="AjaxTest" asp-action="SignalRTest">SignalR</a></li>
            </ul>
        </li>
    </ul>
</div>


@functions
{
    string IsActive(string Controller, string Action = "Index") =>
        Equals(ViewContext.RouteData.Values["Controller"], Controller) &&
        Equals(ViewContext.RouteData.Values["Action"], Action)
        ? "active" : null;
}