
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        <a asp-controller="Home" asp-action="Index">Back to Main page</a>
    </p>
</div>

