@{ 
    ViewBag.Title = "Order Completed";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>
        Order @ViewBag.OrderId has been created and is being processed.
    </p>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
