@{
    ViewData["Title"] = "Unobtrusive AJAX testing";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr/>

    <div class="row">
        <div class="col-md-4">
            <h4>Server-Side Rendering</h4>

            <a class="btn btn-default"
               data-ajax="true"
               data-ajax-url="@Url.Action("GetHTML", "AjaxTest", new { id = 42, msg = "MessageFromView", Delay = "500" })"
               data-ajax-loading="#spinner-server"
               data-ajax-update="#panel-server">Loading</a>

            <span id="spinner-server" style="display:none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>
        <div class="col-md-4">
            <h4>Client-Side Rendering</h4>
            <a class="btn btn-default">Loading</a>

            <span id="spinner-client" style="display:none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>

        </div>
        <div class="col-md-4">
            <h4>Manual Forming</h4>
            <a class="btn btn-default">Loading</a>

            <div panel-js></div>

        </div>
    </div>
</div>
